.amenities-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;  
  width: 40rem;
  height: 60rem;
  padding: 3.2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px 0px;

  &__backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8) !important;
    z-index: 10;
  }

  &__header {
    padding: 2.4rem 0;
    color: rgb(72, 72, 72);
    font-size: 2.4rem;
    font-weight: 800;
  }

  &__content {
    overflow-y: scroll;
    height: 42.5rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.x-button {
  cursor: pointer;
}

.x-img {
  width: 1.5rem;
}

.amenity-category-wrapper {
  margin-top: 8px;
  margin-bottom: 16px;
}

.amenity-category-item {
  font-size: 1.8rem;
  font-weight: 800
}

.amenities-content {

}

.amenities-content::-webkit-scrollbar {
  display: none;
}

.amenity-modal-item {
  border-top: 0.5px solid #e6e6e6;  
  padding: 2.4rem 0;
  font-size: 1.6rem;
}

.amenity-modal-item:first-child {
  border-top: none;
}


