.carousel {
    position: absolute; 
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);

    &__background {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #262626;
        color: #FFFFFF;
        z-index: 10;
    }

    &__slideshow {
        padding: 4.5rem;
        justify-content: center;
        width: 75%;

    }

    &__main-pic-container {
        width: 80%;
    }

    &__main-pic-img {
        height: 57rem;
        object-fit: cover;
        cursor: pointer;
        border-radius: 1.6rem;
        width: 100%;

        @media only screen and (max-width: 75em) {
            height: 40rem;
        }
    }

    &__arrow-left {
        justify-content: flex-start;
    }

    &__arrow-right {
        justify-content: flex-end;
    }

    &__arrows {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    &__sidebar {
        width: 25%;
        position: relative;

    }

    &__pic-count {   
        font-weight: 500;
        font-size: 1.6rem;
        margin-top: 10.4rem;
        width: 26.4rem;
    }

    &__x-button {
        margin-right: 3rem;
        cursor: pointer;
        top: 0;
        right: 3.5rem;
        position: absolute;
    }

    &__x-img {
        width: 3.2rem;
    }
}

.align-arrow {
    width: 10%;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 700px) {
    .carousel-child {
        width: 100vw;
        height: 90vh;  
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .carousel-main-pic-wrapper {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .arrow-column-left {
        position: absolute;
        left: 0;
        align-self: center;
    }

    .arrow-column-right {
        position: absolute;
        z-index: 2;
        right: 0;
        align-self: center;
    }

    .carousel-arrows {
        width: 45px;
        height: 45px;
    }

    .carousel-pic-div {
        width: 100%;
    }

    .carousel-main-pic {
        height: 20rem;
        object-fit: cover;
        width: 100%;
        border-radius: 0px;

    }

    .carousel-sidebar {
        width: 100%;
    }

    .carousel-x-button {
        /* transform: translateY(-430px);
        margin-left: 20px; */
        /* transform: translateX(2px); */
        margin-top: 7.5%;
        margin-right: 0px;
    }

    .carousel-pic-count {
        font-weight: 500;
        font-size: 18px;
        margin-left: 5%;
        width: 100%;
        padding: 20px;
    }
}

@media only screen and (max-height: 425px) {
    .carousel-x-button {
        top: 25px
    }
}




