.session {
    background-color: white;
    width: 50rem;
    padding: 4rem 6rem;
    text-align: center;
    border-radius: 5px;

    &__header {
        font-weight: 500;
        font-size: 3.6rem;
        padding-bottom: 3rem;
    }

    &__form {
        width: 100%;
    }

    &__input {
        width: 100%;
        border: .1rem solid darkgray;
        font-family: inherit;
        background-color: #E8F0FE;
        margin-bottom: 1.5rem;
        border-radius: .4rem;
        height: 4rem;
        padding: .6rem 2rem;
        font-size: 1.3rem;
    }


    &__change {
        font-weight: 500;
        font-size: 1.8rem;

        &__switch {
            color: #009ACD;
            cursor: pointer;
        }
    }
}

.session-btn {
    background-color: #02b3e4;
    border:none;
    color: white;
    height: 4rem;
    width: 100%;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: .4rem;
    box-shadow: .8rem 1rem 2rem 0rem rgba(46,61,73,0.15);
    transition: background-color .3s;

    &:hover {
        background-color: #009ACD;
        cursor: pointer;
    }

    &:first-of-type {
        margin: 1.5rem 0;
    }
}

@media only screen and (max-width: 425px) {
    .session-container {
        width: 15em;
        padding: 20px 40px
    }

    .session-header {
        font-size: 30px;
    }

    .session-input {
        width: 198px;
    }

    .session-submit {
        width: 240px;
    }

    .demo-login-button {
        width: 240px;
    }
}