.space-item {
    border-top: .1rem solid #e6e6e6;
    padding: 2rem 0;
    border-radius: .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
    position: relative;

    &__link-pic {
        width: 100%;
        height: 100%;
    }

    &__link-info {
        text-decoration: none;
        color: $link-color-dark;
    }

    &__pic {
        border-radius: .4rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__cost {
        float: right;
        font-size: 1.8rem;
    }
}

.space-rating {
    
}

.space-rating-container {
    font-size: 14px;
    float: right;
}

.space-star-container {
    width: 18px;
    height: 100%;
    padding-right: 5px;

}

.star {
    width: 100%;
    height: 100%;

    /* transform: translateY(3px) !important; */
}

.space-rating {
    font-weight: 500;
}

.space-num-reviews {
    color: rgb(113, 113, 113) !important;
    padding-left: 2px;
}



@media only screen and (max-width: 1375px) {
    .space-item-wrapper {
        padding-left: 18px;
    }
}

@media only screen and (max-width: 700px) {
    .space-index-main {
        padding: 30px;
    }
    .space-item-wrapper {
        flex-direction: column;
        border-top: none;
        width: 100%;
        padding: 0px;
        height: 20%;
        padding-top: 20px;
        padding-bottom: 10px;
        margin: 0px;
        border-radius: 3px;
    }

    .main-pic {
        width: 100%;
        height: 45vh;
        /* padding-top: 10px; */
    }

    .space-item-cost {
        position: relative;
        font-size: 16px
    }

    .space-link {
        width: 100%;
        height: 100%;
        /* padding-bottom: 12px; */
    }

    .space-item-info {
        padding: 0px;
    }
}

.space-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


.space-item-name {
    font-size: 18px;
    padding-bottom: 10px
}


.space-item-amenities {
    color: gray;
    font-size: 14px;
}


.space-amenity-wrapper {
    padding-top: 10px;
    padding-bottom: 10px
}

.space-item-contact {
    padding-top: 10px;
    padding-bottom: 10px
}

@media only screen and (max-width: 650px) {
    .main-pic {
        width: 100%;
        height: 40vh;
        border-radius: 4px;
        /* padding-top: 10px; */
    }
}

@media only screen and (max-width: 550px) {
 .main-pic {
     width: 100%;
     height: 35vh;
     border-radius: 4px;
     /* padding-top: 10px; */
 }
}


@media only screen and (max-width: 520px) {
    .main-pic {
        width: 100%;
        height: 35vh;
        /* padding-top: 10px; */
    }
}

@media only screen and (max-width: 400px) {
    .main-pic {
        width: 100%;
        height: 25vh;
        /* border-radius: 0px; */
        /* padding-top: 10px; */
    }
}

@media only screen and (max-width: 320px) {
    .main-pic {
        width: 100%;
        height: 20vh;
        /* padding-top: 10px; */
    }
}

