.space-item {
    border-top: .1rem solid #e6e6e6;
    padding: 2rem 0;
    border-radius: .3rem;
    height: 22.1rem;
    position: relative;

    &__link-pic {
        width: 30rem;
        height: 100%;
    }

    &__link-info {
        text-decoration: none;
        color: $link-color-dark;
        position: relative;
        width: 62.5%;
        height: 100%;
        margin-left: 1.5rem;

        @media only screen and (max-width: 85em) {
            width: 100%;
        }
    }

    &__pic {
        border-radius: .4rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__name {
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }

    &__amenities {  
        color: $color-primary-dark;
        font-size: 1.4rem;

        &-list {
            padding: 1rem 0;
        }
    }

    &__cost {
        position: absolute;
        bottom: 0;
        right: 0;
        font-size: 1.8rem;
    }
}

.space-rating {
    
}

.space-rating-container {
    font-size: 14px;
    float: right;
}

.space-star-container {
    width: 18px;
    height: 100%;
    padding-right: 5px;

}

.star {
    width: 100%;
    height: 100%;

    /* transform: translateY(3px) !important; */
}

.space-rating {
    font-weight: 500;
}

.space-num-reviews {
    color: rgb(113, 113, 113) !important;
    padding-left: 2px;
}





// @media only screen and (max-width: 650px) {
//     .main-pic {
//         width: 100%;
//         height: 40vh;
//         border-radius: 4px;
//         /* padding-top: 10px; */
//     }
// }

// @media only screen and (max-width: 550px) {
//  .main-pic {
//      width: 100%;
//      height: 35vh;
//      border-radius: 4px;
//      /* padding-top: 10px; */
//  }
// }


// @media only screen and (max-width: 520px) {
//     .main-pic {
//         width: 100%;
//         height: 35vh;
//         /* padding-top: 10px; */
//     }
// }

// @media only screen and (max-width: 400px) {
//     .main-pic {
//         width: 100%;
//         height: 25vh;
//         /* border-radius: 0px; */
//         /* padding-top: 10px; */
//     }
// }

// @media only screen and (max-width: 320px) {
//     .main-pic {
//         width: 100%;
//         height: 20vh;
//         /* padding-top: 10px; */
//     }
// }

