.map {
  width: 50%;
  height: 100%;
  position: fixed;
  right: 0;

    @media only screen and (max-width: 87em) {
        display: none;
    }

    &__popup-container {
      width: 30rem;
      height: 18rem;
    }

    &__popup-photo {
      width: 100%;
      height: 100%;
    }

    &__popup-description {
      font-size: 1.6rem;
      padding-top: 10px;
    }
  
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  width: 100%;
  height: 30rem;
}



