.edit-photo-container {
    max-width: 1080px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border-width: 1px !important;
    width: auto !important;
    padding-top: 40px;
    padding-right: 24px !important;
    padding-left: 24px !important;
    display: flex;
    flex-direction: column;
  
}
.profile-photo-container {
    width: 75%;
    float: left;
    border: 1px solid #dce0e0;
}
.panel-header {
   color: #484848;
   font-size: 16px;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 20px;
   border-bottom: 1px solid #dce0e0;
    background-color: #edefed;
}

.edit-profile-section-heading {
    font-size: 16px;
}

.panel-body-photos-section {
    display: flex;
    flex-direction: row;
    padding: 20px
}

.current-photo-container {
    height: 225px;
    width: 33.33333%;
    float: left;
}

.current-photo {
    width: 225px;
    height: 100%;
    border-radius: 50%;

}

.edit-profile-pic-section {
    padding-left: 24px;
    padding-right: 12px;

}

.profile-photo-requirements {
    font-size: 14px;
    margin-top: 0px;
}

.edit-photo-label {
    border: 1px solid #c4c4c4;
    background: white;
    padding: 9px 27px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
    color: #484848;
    text-align: center;
    cursor: pointer;
}

.edit-photo-input {
    display: none;
    cursor: pointer;
}