$color-primary-light: #FFF;
$color-primary-dark: grey;

$color-secondary-light: #4abde9;
$color-secondary-dark: #009ACD;

$link-color-dark: #000;
$link-color-light: #FFF;

$color-grey-light: rgb(113, 113, 113)