.reviews-header {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}

.reviews-header-info {
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

.separator {
    border-right: 1px solid rgb(235, 235, 235) !important;
}

.star {
    width: 20px;
    width: 20px;
    padding-right: 5px;
    /* transform: translateY(3px) !important; */
}
.reviews-rating {
    padding-right: 10px;
    font-weight: 600;

}

.reviews-length-counter {
    font-weight: 600;
    padding-left: 10px;
    padding-right: 5px;
}

.review-item-container {
    border-bottom: 1px solid #e6e6e6;
}

.reviewer-info-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.reviewer-pic {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.reviewer-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.reviewer-username {
    font-weight: 600;
}

.review-date {
    font-size: 14px;
}

.review-text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}

