.profile-page {
    margin-top: 10vh;
    height: 90vh;
}

.user-show__wrapper {
    width: 108rem;
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
}

.user-show__container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

}

.user-show-div {
    display: flex;
    padding: 24px;
    flex-direction: column;
    border: solid 1px !important;
    border-color: rgb(228, 228, 228) !important;
    width: 33.3333% !important;
    align-items: center;
}

.user-show-profilePic-container {
    width: 120px;
    height: 120px;
    padding-bottom: 10px;
}

.user-show-profilePic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



.user-show-info-container {
    margin-top: 10vh;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 80px;
    width: 66.6667%;
    float: left;
}

.user-show-info-header {
    font-size: 46px;
    line-height: 1.13043em !important;
    color: rgb(72, 72, 72) !important;
}

.user-show-join-date {
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 1.6rem;
}

.user-show-reviews-div {
    border-color: rgb(228, 228, 228) !important;;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px
}

.user-show-reviews-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #4abde9;
}