.space-show {
    margin-top: 10vh;

    &__info-wrapper {
        margin: auto;
        width: 108rem;
    }
    
}



.amenities-item {
    padding-top: 20px;
}

.num-amenities-wrapper {
    padding-top: 2rem;
    cursor: pointer;
}

.num-amenities-text {
    margin: 0;
    color: #4abde9;
}











