.space-show {
    margin-top: 10rem;

    &__info-wrapper {
        margin: auto;
        width: 108rem;

        @media only screen and (max-width: 68.75em) {
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding: 0 3rem 6vh 3rem;
        }
    }
    
}















