
.carousel-child {
  position: absolute; 
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
}

.carousel-main-pic-wrapper {
    padding: 45px;
    justify-content: center;
    width: 75%;
    display: flex;
    flex-direction: row;
}

.arrow-column-left {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow-column-right {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.carousel-arrows {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.carousel-pic-div {
    width: 80%;
}

.carousel-main-pic {
    height: 40em;
    max-height: 75vh;
    object-fit: cover;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
    /* transform: translateY(-50%) */

}

.carousel-sidebar {
    vertical-align: top !important;
    /* width: 264px !important;
    min-width: 264px !important; */
    width: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel-x-button {
    margin-right: 30px;
    cursor: pointer;
    top: 0;
    right: 35px;
    position: absolute;
}

.carousel-x-img {
    width: 32px;
}

.carousel-pic-count {   
    font-weight: 500;
    padding-top: 104px !important;
    display: table-cell !important;
    vertical-align: top !important;
    width: 264px;
    min-width: 264px !important;
}

@media only screen and (max-width: 800px) {
    .carousel-child {
        width: 100vw;
        height: 100vh;  
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .carousel-main-pic-wrapper {
        width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    .arrow-column-left {
        position: absolute;
        left: 0;
        align-self: center;
    }

    .arrow-column-right {
        position: absolute;
        z-index: 2;
        right: 0;
        align-self: center;
    }

    .carousel-arrows {
        width: 45px;
        height: 45px;
    }

    .carousel-pic-div {
        width: 100%;
    }

    .carousel-main-pic {
        height: 20rem;
        object-fit: cover;
        width: 100%;
        border-radius: 0px;

    }

    .carousel-sidebar {
        width: 100%;
        
    }

    .carousel-x-button {
        /* transform: translateY(-430px);
        margin-left: 20px; */
        /* transform: translateX(2px); */
        margin-top: 7.5%;
        margin-right: 0px;
    }

    .carousel-pic-count {
        font-weight: 500;
        font-size: 18px;
        margin-left: 5%;
        width: 100%;
        padding: 20px;
    }
}




